// showing default values 272D47 A9BAC7
$accentColor = #6394E8
$textColor =  #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$nprogressColor = #6394E8

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 70rem //740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px